modules = ["python-3.11", "nodejs-20"]
run = "bash start.sh"
entrypoint = "server/main.py"

[nix]
channel = "stable-24_05"

[env]
PYTHONPATH = "$PYTHONPATH:$REPLIT_SOURCE_DIR"

[deployment]
run = ["bash", "start.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
